.first_nav{
    background-color: white; 
    justify-content: space-between; 
    padding: 0px 40px;

} 
.navbar_heading{
    margin-right: 20px;
}
.navbar_search{
    flex: 1; 
    padding: 0px 7px; 
    font-size: 20px;
    font-weight: 500; 
    border: none;
    outline: none;
} 
.navbar_links{
   margin-left: 10px;
} 
.navbar_links >a.active {
    font-weight:600;
}
.search_submit{
    background-color: #6457f9;
    color: white;
    border-radius: 5px;
    padding: 6px 10px;
    border: none; 
    cursor: pointer;
    
}

.navbar_form{
    border: none;
    outline: none;
    width: 450px;
    border: 1px solid #dcdcdc; 
    height: 40px;
    border-radius: 5px;  
    padding: 3px;
} 
.cart_p{
    background-color: #6457f9;
    width: 20px;
    height: 20px;
    border-radius: 100%;  
    justify-content: center; 
    margin-left: 5px; 
    font-size: 15px;
 
  
}