@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
} 
body{
  font-size: 16px;
  background-color: #f6f8fa; 
  height: 100%;
  width: 100%;
} 

.align_center{
  display: flex;
  align-items: center;
} 

a{
  font-size: inherit;
  font-weight: 500;
  text-decoration: none;
  color: inherit;
} 
button{
  background-color: #6457f9;
  color: white;
  width: fit-content; 
  border: none;
  outline: none;
  padding: 6px 6px; 
  border-radius: 5px;
}